@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600;700&family=Playfair+Display&display=swap');

h1,h2,h3,h4,h5,h6{
    font-family: 'Playfair Display', serif;
}
p{
    font-family: 'Mulish', sans-serif;  
}
.bg-style{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-image: url("../img/khaled-ghareeb--NyPn9up_7o-unsplash.png");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 40% 100%;
    position: relative;
    padding: 24px 0px 24px 32px;

}
.bg-style::after{
    content: "";
    top: 0;
    right: 31%;
    width: 64px;
    height: 100%;
    position: absolute;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.0001) 0%, #FFFFFF 100%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform: rotate(-180deg);

}
.bg-left-style{
    background-image: url(../img/hanen-souhail-F5EO6OD9kBo-unsplash.png);
    background-position: left top;
}
.bg-left-style::after{
    right: initial;
    transform: none;
    left: 32%;
}
.batch{
    width: 93px;
    height: 32px;
    border-radius: 8px;
    background-color: #e5e5ea;
}
.l-batch{
    width: 160px;
    height: 52px;
    background-color: white;
    border: 2px solid #eda3b5;
    border-radius: 16px;
}
.l-batch p{
    font-size: 20px;
    color: #eda3b5;
}