/* :root {
    --mulish: "Mulish", sans-serif;
}

* {
    font-family: var(--mulish);
}

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@600;700&display=swap");

.md_container {
    height: 440px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "spring spring item24 new"
        "spring spring newExpand newExpand";
        grid-gap: 20px;
}

.cus_card {
    border-radius: 16px;
    padding-left: 32px;
    padding-top: 32px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    border: none;
}
.cus_card::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(
        180deg,
        rgba(52, 52, 52, 0.0001) 0%,
        #343434 100%
    );
    mix-blend-mode: normal;
    opacity: 0.4;
    border-radius: 16px;
}

.title {
    font-weight: 600;
    color: white;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 24px;
}
.batch {
    height: 32px;
    display: inline-block;
    padding: 7px 22px;
    background-color: rgba(255, 255, 255, 0.203);
    border-radius: 8px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: white;
}

.spring {
    padding-top: 147px;
    background-image: url("../img/spring2020.png");
    grid-area: spring;
}
.fr_col_2 {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}
.item24{
    background-image: url("../img/pexels.jpg");
    grid-area: item24;
}

.new {
    background-image: url("../img/chris.png");
    grid-area: new;
}

.newExpand {
    background-image: url("../img/Mask.png");
    background-color: #eda3b5;
    background-size: 300px 100%;
    background-position: right center;
    grid-area: newExpand;
}

.newExpand::after {
    background: linear-gradient(
        270deg,
        rgba(244, 162, 182, 0.0001) 0%,
        #eda3b5 100%
    );
    width: 160px;
    height: 100%;
    right: 142px;
    left: initial;
    opacity: 1;
    border-radius: initial;
} */

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@600;700&display=swap");

:root {
    --Mulish : "Mulish", sans-serif;
}

/* common style */
* {
    font-family: var(--Mulish);
}

.top-container{
    height: 440px;

}

.c-card{
    padding-top: 32px;
    padding-left: 32px;
    border-radius: 16px;
    border: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.c-card::after{
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(52, 52, 52, 0.0001) 0%, #343434 100%);
    mix-blend-mode: normal;
    opacity: 0.4;
    border-radius: 16px;
    position: absolute;
}
.dcontrol{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.title {
    font-weight: 600;
    color: white;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 24px;
}
.batch {
    height: 32px;
    display: inline-block;
    padding: 7px 22px;
    background-color: rgba(255, 255, 255, 0.203);
    border-radius: 8px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: white;
}
/* common style */

/* test section */
.left-c{
    width: 49%;
    height: 100%;
    background-image: url("../img/spring2020.png");
    padding-top: 147px;
}
.right-c{
    width: 49%;
    height: 100%;
}
.items{
    background-image: url("../img/pexels.jpg");
    width: 47.84%;
    height: 47.27%;
}
.r1-new{
    background-image: url("../img/chris.png");
    width: 47.84%;
    height: 47.27%;
}
.r2-new{
    background-color: #eda3b5;
    width: 100%;
    height: 47.27%;
    margin-top: auto;
    background-image: url("../img/Mask.png");
    background-size: 53.76% 100%;
    background-position: right top;
}
.r2-new::after{
    background: linear-gradient(270deg, rgba(244, 162, 182, 0.0001) 0%, #EDA3B5 100%);
    width: 28.67%;
    height: 100%;
    left: initial;
    border-radius: initial;
    right: 25.44%;
    opacity: 1;
}