@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600;700&family=Playfair+Display&display=swap');

/* Common style */
h1, h2, h3, h4, h5, h6{
    font-family: 'Playfair Display', serif;
    font-size: 34px;
    line-height: 45px;
    font-weight: 400;
    letter-spacing: 0.4px;
}
p{
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #8E8E93;
}
.c-style{
    border-radius: 16px;
    padding-top: 32px;
    padding-left: 32px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.c-style::after{
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(52, 52, 52, 0.0001) 0%, #343434 100%);
    position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0.4;
    border-radius: 16px;
}
.batch{
    color: white;
    height: 32px;
    padding-top: 7px;
    padding-left: 21px;
    padding-right: 22px;
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    background-color: #ffffff40;
    border-radius: 8px;
}

/* common style*/

/* * Header */ */
.logo{
    height: 26px;
    padding-top: 39px;
    padding-bottom: 30px;
}
.logo img{
    height: 23px;
    width: 22px;
}
.logo h4{
    font-size: 24px;
    margin-top: 5px;
}
.shop h2{
    font-size: 48px;
    font-weight: 400;
}
/* Heading */

/* main bg style */
.bg-content{
    padding-bottom: 213px;
}
.c-style h1{
    color: white;
    font-size: 34px;
    line-height: 51px;
}
.c-style p{
    color: #ffffff;
    font-size: 20px;
}
.women-col{
    background-image: url("../img/spring2020.png");
}
.best-col{
    background-image: url("../img/pexels.jpg");
    padding-top: 94px;
    padding-bottom: 15px;
}
.dress-col{
    background-image: url("../img/chris.png");
    padding-bottom: 15px;
}
.dress{
    padding-top: 66px;
}
.jeckets-col{
    background: #EDA3B5;
    background-image: url("../img/Mask.png");
    background-position: right top;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    padding-bottom: 20px;
}
.jeckets-col::after{
    left: initial;
    right: 21.90%;
    width: 28.67%;
    background: linear-gradient(270deg, rgba(244, 162, 182, 0.0001) 0%, #EDA3B5 100%);
    opacity: 1.4;
}
.jeket{
    padding-top: 66px;
}

/* main bg style */

/* Slide section */
.slide-wrapper{
    padding-top: 32px;
    padding-left: 97px;
    border-radius: 16px;
    height: 440px;
}
.s-batch{
    background-color: #605f5f40;
    color: black;
}
.l-batch{
    width: 160px;
    height: 52px;
    padding-top: 11px;
    background-color: #EDA3B5;
    border-radius: 16px;
    font-size: 20px;
    color: white;
    border: none;
}
.slide-wrapper{
    background-image: url(../img/webpage/slidebg1.png);
    background-repeat: no-repeat;
    background-size: 47.90% 100%;
    background-position: 100% 0px;
    position: relative;
}
.slide-wrapper::after{
    content: "";
    position: absolute;
    top: 0;
    width: 10.53%;
    height: 100%;
    background-repeat: no-repeat;
    right: 38.63%;
    background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0.0001) 100%);
    transform: rotate(-180deg);
}

/* Slide section */

/* Slide two  */
.compaling-content{
    padding-left: 51.03%;
}
.slider2-wrapper{
    height: 440px;
    background-image: url("../img/webpage/slidebg2.png");
    background-size: 31.93% 100%;
    background-position: 8.50% 0px;
}
.slider2-wrapper::after{
    background: none;;
}
/* Slide two  */

/* Slide three */
.s-social-icon li{
    display: inline-block;
    width: 42px;
    height: 42px;
    border: 2px solid #ffffff;
    text-align: center;
    padding-top: 9px;
    border-radius: 50%;
    margin: 15px;
}
.slider3-wrapper{
    background-color: #bbb0ac;
    background-image: url("../img/webpage/slidebg3.png");
    background-size: 39.13% 100%;
    background-position: 80% 0px;
}
.slider3-wrapper::after{
    background: none;
}
/* Slide three */

/* Dress card */
.dress-card{
    height: 560px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
    border-radius: 16px;
}
.dress-card::after{
    content: "";
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 36.29%;
    top: 44%;
    height: 50% 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 0%, #FFFFFF 100%);
}
.dress-card img{
    height: 340px;
}
.card-content{
    padding-top: 24px;
    padding-left: 32px;
    padding-right: 32px;
}

@media only screen and (min-width:768px) {
   .price h3{
        font-size: 24px;     
   } 
   .cart-btn {
        width: 100px;
        font-size: 16px;
        height: 45px;
   }
   .card-content{
        padding-left: 20px;
        padding-right: 10px;
   }
   .card-content h1{
        font-size: 28px;
   }
}
@media only screen and (min-width:992px) {
    .price h3{
        font-size: 28px;     
   } 
   .cart-btn {
        width: 140px;
        font-size: 20px;
        height: 52px;
   }
   .card-content{
        padding-left: 32px;
        padding-right: 32px;
   }
   .card-content h1{
        font-size: 34px;
   }
}
@media only screen and (min-width:1200px) {
    .cart-btn{
        width: 160px;
    }
}
/* Dress card */
